* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#9d5900, #3d2200);
}

.logo {
    height: 125px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.game-info img {
    height: 200px;
    display: inline-block;
    position: relative;
    border-radius: 5%;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 1em;
    margin: auto;
    text-align: center;
}

.game-info2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 1.5em;
    margin: auto;
}

.centerSpan {
    margin-top: 15px;
}

.info-card {
    margin: auto 0;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: #F9FFA1;
    border-radius: 12px;
    height: 145px;
    width:  85px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
}

.card-back {
    background-color: #F9FFA1;
    
}

.bush {
    position: absolute;
    width: 27px;
    height: 27px;
}

.bush-top-left {
    transform: rotate(90deg);
    top: 0;
    left: 0;
}

.bush-bottom-left {
    bottom: 0;
    left: 0;
}
.bush-top-right {
    transform: rotate(270deg);
    top: 0;
    right: 0;
}
.bush-bottom-right {
    transform: rotate(270deg);
    bottom: 0;
    right: 0;
}


.modal-contenido{
    max-width: 450px;
    padding: 10px 20px;
    margin: 5% auto;
    position: relative;
    display: flex;
}

.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

.closeModal{
    margin: 3px;
    border: 1px solid white;
    display: block;
    float: left;
    color: white;
    background: black;
    border-radius: 11px;
    padding: 5px;
    margin-left: 156px;
}

@media (max-width: 767px){
    .image-modal{
        max-width: 112px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
}

@media (max-width: 320px){
    .image-modal{
        max-width: 92px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
}

@media (min-width: 768px) {
    .image-modal{
        max-width: 202px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
}

.description{
    background-color: white;
    width: 221!important;
    height: auto;
    padding: 10px;
    font-size: 15px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.closeModal{
    text-decoration: none;
    padding: 2px;
    font-size: 14px;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 2px solid black;
}
.closeModal:hover{
    color: white;
    background-color: black;
}


.masterConst {
    display: block;
    color: yellow;
    font-size: 20px;
    background: #3d2200;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    align-items: center;
    margin: auto;
}

.masterInfo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}


@media (min-width: 1150px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        min-height: 100vh;
    }
    
    body {
        margin:0;
        padding:0;
        background: radial-gradient(#9d5900, #3d2200);
    }
    
    .grid {
        display: grid;
        grid-template-columns: 30% 35% 30% 23%;
        grid-template-rows: 50px 50px auto;
        margin-top: 0;
    }

    .logo {
        margin-top: 50px;
    }
    
    .masterConst {
        color: yellow;
        font-size: 20px;
        background: #3d2200;
        border-style: none;
        border-radius: 5px;
        padding: 10px;
        margin-top: 75px;
        border: 1px solid #ffffff;
    }
    
    .centerSpan {
        margin-top: 15px;
    }
    
    .masterInfo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        font-size: 17px;
        margin-top: 10px;
        text-align: center;
    }
    
    .resources{
        width: 100px;
        height: auto;
    }
    .game-info-container {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
    }
    
    .game-info img {
        height: 160px;
        display: inline-block;
        position: relative;
        border-radius: 5%;
        box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
        
    }
    
    .game-info {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        font-size: 17px;
        text-align: center;
        margin-top: 50px;
    }
    
    
    .game-info2 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        font-size: 15px;
        margin-left: 75px;
        
    }
    
    .info-card {
        margin: auto 0;
    }
    
    .game-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        justify-content: center;
    }
    
    .card {
        position: relative;
        background-color: #F9FFA1;
        border-radius: 12px;
        height: 125px;
        width:  95px;
        cursor: pointer;
    }
    
    .card-face {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border-width: 1px;
    }
    
    .bush {
        position: absolute;
        width: 17px;
        height: 17px;
    }
    
    .bush-top-left {
        transform: rotate(90deg);
        top: 0;
        left: 0;
    }
    
    .bush-bottom-left {
        bottom: 0;
        left: 0;
    }
    .bush-top-right {
        transform: rotate(270deg);
        top: 0;
        right: 0;
    }
    .bush-bottom-right {
        transform: rotate(270deg);
        bottom: 0;
        right: 0;
    }
    
    .modal-contenido{
        max-width: 450px;
        padding: 10px 20px;
        margin: 5% auto;
        position: relative;
        display: flex;
    }
    
    .modal{
        background-color: rgba(0,0,0,.8);
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity:0;
        pointer-events:none;
        transition: all 1s;
    }
    
    #miModal:target{
        opacity:1;
        pointer-events:auto;
    }
    
    .closeModal{
        margin: 3px;
        border: 1px solid white;
        display: block;
        float: left;
        color: white;
        background: black;
        border-radius: 11px;
        padding: 5px;
        margin-left: 156px;
    }
    
    .image-modal{
        max-width: 192px;
        border-bottom-left-radius: 11px;
        border-top-left-radius: 11px;
    }
    
    .description{
        background-color: white;
        width: 221!important;
        height: auto;
        padding: 10px;
        font-size: 15px;
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }
    
    .closeModal{
        text-decoration: none;
        padding: 2px;
        font-size: 14px;
        color: black;
        background-color: white;
        border-radius: 6px;
        border: 2px solid black;
    }
    .closeModal:hover{
        color: white;
        background-color: black;
    }
    
}