* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#9d5900, #3d2200);
}

.logo {
    height: 125px;
    display: grid;
    display: block;
    margin: auto;
}

.game-info img {
    height: 200px;
    display: inline-block;
    position: relative;
    border-radius: 5%;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 1em;
    text-align: center;
}

.game-info2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.info-card {
    margin: auto 0;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: #F9FFA1;
    border-radius: 12px;
    height: 175px;
    width:  105px;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
}

.card-back {
    background-color: #F9FFA1;
    
}

.bush {
    position: absolute;
    width: 27px;
    height: 27px;
}

.bush-top-left {
    transform: rotate(90deg);
    top: 0;
    left: 0;
}

.bush-bottom-left {
    bottom: 0;
    left: 0;
}
.bush-top-right {
    transform: rotate(270deg);
    top: 0;
    right: 0;
}
.bush-bottom-right {
    transform: rotate(270deg);
    bottom: 0;
    right: 0;
}

